<div id="background">
  <header class="cf">
    <div class="wrapper_wide">
      <a id="logo" href="#">Podcast.fm</a>
      <nav>
        <ul>
          <li><a href="#">Explore</a></li>
          <li><a href="#">Sign In</a></li>
          <li><a href="#">Create a Podcast</a></li>
        </ul>
      </nav>
    </div>
  </header>
  <div class="wrapper_skinny">
    <h1>Discover your new favorite <span class="responsive_break">podcast, or create your own.</span></h1>
    <a class="button button_highlight" href="#">Create a Podcast</a>
    <a class="button button_white" href="#">Explore</a>
  </div>
</div>